{% extends "personal/secondheader.html" %}
{% block title %}Duxxi Board{% endblock %}
{% block acont %}{% endblock %}
{% block aboad %}active{% endblock %}
{% block content %}
<div class="boardbrand"><h1>Discussion Board</h1></div>
<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=0 height=0 src="//music.163.com/outchain/player?type=2&id=4250277&auto=1&height=32"></iframe>
          <div class="board container">
              {% for comment in comment.all %}
              {% if comment.published is True %}
    <div class="row">
        <div class="col-12 col-md-4 boardinfo" id="sidebar">
            <p>{{ comment.date|date:"Y-m-d H:i:s" }}</p>
            <p>{{comment.author}}</p>
</div>
        <div  class="col-12 col-md-8">
            <div class="boardcontent">
                {{comment.body|safe|linebreaks}}
            </div>
          </div>
    </div>
                {% endif %}
                {% endfor %}
          </div>
<a href="{% url 'commentcreate' %}" class="messagebtn btn btn-lg btn-default">Leave a Message</a>

{% endblock %}