{% block content %}

<div class="container texts">
    <h1 class="cover-heading">Hello Friend.</h1>
            <h1 class="cover-heading" style="display: none">Welcome to Duxxi.</h1>
            <h1 class="cover-heading" style="display: none">No matter who I am.</h1>
            <h1 class="cover-heading" style="display: none">My wish is the world peace.</h1>
            <h1 class="cover-heading" style="display: none">Why do we fall? </h1>
            <h1 class="cover-heading" style="display: none">So that we can learn to pick ourselves up.</h1>
            <h1 class="cover-heading" style="display: none">Darkness signals a new dawn is ahead.</h1>
            <h1 class="cover-heading" style="display: none">You will never be lost if you follow the Light.</h1>
    <br><br>
    <p class="lead">
        <a href="/myprofile/1" class="btn btn-lg btn-default">Discover</a>
    </p>

</div>

{% endblock %}