{% extends "personal/secondheader.html" %}

{% block content %}
          <div class="container texts">
    <div class="row">

        <div class="col-12 col-md-3" id="sidebar">
            <p></p>
            <a href="#" class="list-group-item" style="background-color: #333">Who Am I?</a>
            <a href="#" class="list-group-item" style="background-color: #333">What Am I Doing?</a>
            <a href="#" class="list-group-item" style="background-color: #333">Who Are You?</a>
            <a href="#" class="list-group-item" style="background-color: #333">Listen To Me.</a>
            <a href="#" class="list-group-item" style="background-color: #333">Don't Contact Me.</a>
            <p></p>
</div>
        <div  class="col-12 col-md-9">
            <h1>{{profilepost.title}}</h1>
            <h6>on {{profilepost.date}}</h6>

            <div class="profilecontainer">
                {{profilepost.body|safe|linebreaks}}
            </div>
          </div>

    </div>
    </div>
{% endblock %}

