{% extends "personal/secondheader.html" %}
{% block title %}Duxxi Blog{% endblock %}
{% block acont %}{% endblock %}
{% block ablog %}active{% endblock %}
{% block content %}
          <div class="container texts">
                  <div class="row">
                  <div class="col-12 col-md-2" id="sidebar">
        <p></p>
        <a href="/blog/2017/12/" class="list-group-item" >2017-12</a>
        <a href="/blog/2017/11/" class="list-group-item" >2017-11</a>
        <a href="/blog/2017/10/" class="list-group-item" >2017-10</a>
        <a href="/blog/2017/09/" class="list-group-item" >2017-09</a>
        <a href="/blog/2017/08/" class="list-group-item" >2017-08</a>
        <p></p>
</div>
              <div  class="col-12 col-md-9">
                  <p></p>
    {% for post in object_list %}
        <h5>{{ post.date|date:"Y-m-d" }}<a href= "{% url 'post' post.id %}"> {{post.title}}</a> </h5>
    {% endfor %}

    {% for post in all_posts %}
        <h5>{{ post.date|date:"Y-m-d" }}<a href= "{% url 'post' post.id %}"> {{post.title}}</a> </h5>
    {% endfor %}
          </div>
          </div>
          </div>
{% endblock %}