{% extends "personal/secondheader.html" %}
{% block title %}Duxxi Note{% endblock %}
{% block acont %}{% endblock %}
{% block anote %}active{% endblock %}
{% block content %}
          <div class="container texts">
                                <div class="row">
                  <div class="col-12 col-md-2" id="sidebar">
        <p></p>
        <a href="/note/2017/09/" class="list-group-item">2017-09</a>
        <a href="/note/2017/08/" class="list-group-item">2017-08</a>
        <p></p>
</div>
              <div  class="col-12 col-md-9">
                  <p></p>
    {% for notepost in object_list %}
        <h5>{{ notepost.date|date:"Y-m-d" }}<a href= "{% url 'notepost' notepost.id %}"> {{notepost.title}}</a> </h5>
    {% endfor %}
      {% for notepost in all_posts %}
        <h5>{{ notepost.date|date:"Y-m-d" }}<a href= "{% url 'notepost' notepost.id %}"> {{notepost.title}}</a> </h5>
    {% endfor %}
          </div>
          </div>
          </div>
{% endblock %}